/* ==========================================================
   GALLERY
   ========================================================== */

.gallery-container{

display:grid;

grid-template-columns:

2fr 1fr;

height:100%;

gap:20px;

}

.gallery-image{

display:flex;

align-items:center;

justify-content:center;

background:

rgba(255,255,255,.03);

border-radius:14px;

overflow:hidden;

}

.gallery-image img{

max-width:100%;

max-height:100%;

border-radius:12px;

transition:.35s;

}

.gallery-sidebar{

display:flex;

flex-direction:column;

gap:20px;

}

.gallery-title{

font-family:var(--font-title);

letter-spacing:1px;

font-size:18px;

color:white;

}

.gallery-caption{

color:var(--text-soft);

line-height:1.8;

font-size:14px;

flex:1;

}

.gallery-buttons{

display:flex;

justify-content:space-between;

gap:12px;

}

.gallery-buttons button{

flex:1;

}